<h4>Simple</h4>
<div class="example">
  <% example = capture do %>
    <%= bootstrap_form_for @user, url: "/" do |form| %>
      <%= form.email_field :email, placeholder: "Enter Email", label: "Email address", help: "We'll never share your email with anyone else" %>
      <%= form.password_field :password, placeholder: "Password" %>
      <%= form.check_box :terms, label: "Check me out" %>
      <%= form.submit %>
    <% end %>
  <% end %>
  <%= example %>
  <textarea class="codemirror"><%= codemirror_html(example) %></textarea>
</div>
